/* html {
  font-size: 62.5%;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(52, 61, 70);
  color: #fff;
  margin: 2px 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.video-feed {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.film-info {
  margin-top: 2px;
  padding: 1rem;
  background: #496277;
}

.film-description {
  display: flex;
  margin: 1rem 0;
}

header {
  text-align: center;
}

header h2 {
  margin-bottom: 0rem;
  text-shadow: #32383d;
}

header span {
  text-align: justify;
}

.film-description p {
  margin-left: 2rem;
  width: 500px;
}

.film-page {
  margin: 10px 0 50px;
}
